.layout {
  margin-top: 120px;
}
.layout-account {
  margin-right: 50px;
  margin-right: 50px;
}
.heading {
  min-height: 100vh;
  display: grid;
  position: relative;
  grid-template-columns: 60% auto;
  gap: 50px;
}
.heading a {
  background-color: #ff8800;
  color: #fafafa;
}
.heading a:hover {
  background-color: #fafafa;
  color: #ff8800;
}
.videoIntro {
  margin: 0 auto;
  height: 200px;
  width: fit-content;
  background-color: #f2f2f2;
  align-items: center;
}
.title {
  font-size: 60px;
  line-height: 1;
  color: #00272e;

  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
.subtitle {
  margin-bottom: 10px;
  font-size: 28px;
  padding-top: 10px;
  font-weight: bold;
  color: #ff8800;
  font-family: 'Courier New', Courier, monospace;
}
.subtitle_secondary {
  font-size: 24px;
  padding-top: 10px;
  font-weight: 200;
  color: #525252;
  font-family: 'Courier New', Courier, monospace;
}
.form {
  padding: 10px;
  margin-top: 50px;
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
  background-color: #181818;
  color: #f2f2f2
}
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;

  margin-top: 80px;
  gap: 20px;
}
.grid {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.box {
  height: auto;
  display: inline-block;
}
.footer {
  margin-top: 50px;
  height: 100px;
  background-color: #fafafa;
  border-top: 2px solid #f2f2f2;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer p {
  position: relative;
  align-content: center;
  align-items: center;
  padding-right: 15px;
  font-size: 16px;
  color: #525252;
  font-weight: bold;
  margin-bottom: 0px;
  font-family: 'Courier New', Courier, monospace;
}
.mainBtn {
  background-color: #702ec2;
  color: #fafafa;
  font-weight: bold;
}
.join {
  margin-top: 50px;
  position: relative;
}
.text {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 400;
  color: #525252;
  align-items: stretch;
  line-height: 2;
  font-family: 'Courier New', Courier, monospace;
}
.text_secondary {
  line-height: 3;
  text-decoration: none;
  list-style: none;
  color: #525252;

  font-size: 100;
  font-family: 'Courier New', Courier, monospace;
}
.ads {
  width: 100%;
  padding: 0px;
}
.ads img {
  width: 100%;
}
.galeria {
  margin-top: 150px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.galeryCard {
  display: flex;
  position: relative;
  display: inline-block;
  width: 100%;
}
.cardDetail {
  color: #fafafa;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  justify-content: center;
  position: absolute;
  align-items: center;
  justify-items: center;
  padding: 10px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  display: block;
  background-color: #1b1b1b
}
.galeryCard:hover div {
  visibility: visible;
  opacity: .7;
}
.video {
  width: fit-content;
  height: 300px;
}

.block {
  margin-bottom: 150px;
}
.courseClass {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .heading {
    display: block;
  }
  .title {
    line-height: 1.2;
    font-size: 45px;
    justify-content: center;
    text-justify: auto;
    color: #00272e;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
  }
  .subtitle_secondary {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #525252;
    font-family: 'Courier New', Courier, monospace;
  }
  .content {
    padding-left: 30px;
    padding-right: 25px;
    display: block;
  }
  .text {
    margin-top: 40px;
    font-size: 400;
    color: #525252;
    line-height: 2.2;
    text-justify: auto;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
  }
  .video {
    width: 100%;
    height: auto;
  }
  .videoIntro {
    margin: 0 auto;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  .galeryCard {
    display: inline-block;
    width: 100%;
  }
  .galeria {
    margin-top: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  .join {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 50px;
    align-items: center;
    align-content: center;
  }
  .topBar {
    display: none;
  }
  .footer .text {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 14px;
    color: #525252;
    align-items: center;
    line-height: 1.5;
    justify-content: center;
    text-justify: distribute;
    font-family: 'Courier New', Courier, monospace;
  }
  .footer {
    margin-top: 20px;
    height: 100px;
    background-color: #101010;
    border-top:2px solid #181818;
    padding: 15px;
    display: block;
  }
  .layout {
    padding-left: 30px;
    padding-right: 25px;
    margin-top: 100px;
    min-height: 100vh;
  }
  .courseClass {
    padding-top: 30px;
    display: block;
  }
  .grid {
    display: block;
  }
}